@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

html,
body {
  overflow: hidden;
  height: 100%;
}

body {
  position: fixed;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Teko', sans-serif;
}

:root {
  --primary-color: #070506;
  --secondary-color: #FADA22;
  --text-color: #ffff;
  --main-color: #FADA22;
}

html {
  font-size: 85%;
  overflow-x: hidden;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 2%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  text-decoration: none;
}

.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 600;
  text-decoration: none;
}

.close-button {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--primary-color); 
    background-color: #FF004D; 
    cursor: pointer;
    font-size: 2.2rem;
    width: 2.5rem; 
    height: 2.5rem; 
    line-height: 2.85rem; 
    text-align: center; 
    border-radius: 0.3rem; 
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 500;
  margin: 1.5rem;
  text-decoration: none;
}

section {
  min-height: 100vh;
  padding: 20rem 5% 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-content {
    max-width: 70rem;
    text-align: center; 
    margin: 0 auto; 
    position: relative; 
  }
  
.start-content h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
}

.start-content h3 {
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--main-color);
}

.start-btn-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 28rem;
    height: 16rem; 
    margin: 2rem auto;
}

.start-btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 12rem;
    height: 5rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.3rem; 
    letter-spacing: .1rem;
    font-weight: 500;
    z-index: 1;
    overflow: hidden;
    margin: 0.5rem 0;
    color: var(--text-color);
}

.start-btn-box a:nth-child(1) {
  background: transparent;
  color: var(--main-color);
}

.start-btn-box a:nth-child(2) {
    background: transparent;
    color: var(--main-color);
  }

.start-btn-box a:hover,
.start-btn-box a.active {
  transition: 0.8s;
  color: var(--primary-color);
}

.start-btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--secondary-color);
  z-index: -1;
}

.start-btn-box a:hover::before {
  width: 100%;
  transition: 0.8s;
}

.heading {
  font-size: 4rem;
  margin-bottom: 3rem;
  text-align: center;
  text-decoration: none;
}

span {
  color: var(--main-color);
}
